<section class="upper-footer">
    <section class="container">
        <section class="col-sm-8 left_footer">
            <a href="@Url.Action("Index", "Home", new { area = "" })">Home</a>   ::   
            <a href="@Url.Action("AboutUs", "Home", new { area = "" })">About Us</a>   ::   
            <a href="@Url.Action("Services", "Home", new { area = "" })">Services</a>   ::   
            <a href="@Url.Action("Terms", "Home", new { area = "" })">Terms &amp; Condition</a>   ::   
            <a href="@Url.Action("ContactUs", "Home", new { area = "" })">Contact Us</a>
        </section>
        <section class="col-sm-4">
            <ul class="social-add">
                <li><a href="#"><i class="fa fa-skype"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            </ul>
        </section>
    </section>
</section>
